@model Store.Domain.Entities.Product

<div class="well">
    @if (Model.ImageDataBig != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <a class="fancybox" data-fancybox-type="image" href="@Url.Action("GetImageBig", "Product", new { Model.IdString })"><img src="@Url.Action("GetImageSmall", "Product", new { Model.IdString })" alt="" /></a>
        </div>
    }
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.IdString)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }

    <span class="lead"> @Model.Description</span>
</div>

